.loadingBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  box-sizing: border-box;
}

.errorBox {
  width: 100%;
  height: 100%;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-btn {
    margin-top: 40px;
    background-color: #11B787;
    color: #fff;
    width: 380px;
    height: 90px;
    border-radius: 20px;
    font-size: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &.reverse {
    .login-btn { margin-top: 0; }
    .login-tips { margin-top: 40px; font-size: 28px; color:#8E8E8E; }
  }
}