.scroll {
  height: 92vh;
  // padding-top: 60rpx;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  // padding-bottom: 20px;
  box-sizing: border-box;



  // .loadingBox {
  //   width: 100%;
  //   display: flex;

  // }

  .loadFinish {
    text-align: center;
  }
}